@font-face {
    font-family: "Libre Caslon";
    src: url("fonts/librecaslontext-regular.woff") format("opentype");
}

@font-face {
    font-family: "Libre Caslon";
    font-weight: bold;
    src: url("fonts/librecaslontext-bold.woff") format("opentype");
}

body {
    background: #811e1c;
    font-family: 'Libre Caslon', serif;
    margin: 0;
}

.logo {
    width: 300px;
    height: 90px;
}

.navigation {
    list-style-type: none;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation li {
    display: inline-block;
    margin-right: 30px;
    width: 180px;
    padding-top: 25px;
    font-size: 24px;
    border-top: 1px solid white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    color: #fff;
    font-size: 75px;
    text-align: left;
}

.tag-line {
    display: flex;
    justify-content: center;
}

.about-us-section {
    padding-left: 145px;
    padding-top: 110px;
    background-color: #fff;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-us-title {
    color: #811e1c;
    font-size: 60px;
    white-space: nowrap;
    margin: 0;
}

.about-us-content {
    margin-left: 120px;
    margin-right: 120px;
}

.staff-pictures {
    width: 250px;
    length: 200px;
}
.the-team {
    display: flex;
    justify-content: space-evenly;
}

.contact-us {
    background: #404041;
    padding: 50px 0 50px 145px;
}
.reach-out {
    color: white;
    font-size: 60px;
    white-space: nowrap;
    margin: 0;
}

.reach-out-container {
    margin-top: 20px;
    margin-left: 50px;
}

.input-label {
    visibility: hidden;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin-bottom: 20px;
}

.contact-email {
    color: #fff;
}